<%= form_for @user, :html => {:class => 'form-horizontal well new_user' , :role => 'form'} do |f| %>
    <% if @user.errors.any? %>
        <div class="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this signature from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <div class="form-group">
        <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field  :name, :required => false, :autofocus => true, :size => '40', :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, :class => 'control-label' %>
          <%= f.email_field :email, :required => false, :size => '40', :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, :class => 'control-label' %>
          <%= f.password_field :password, :required => false, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'control-label' %>
        <%= f.password_field :password_confirmation, :required => false, :class => 'form-control' %>
      </div>
      <% if  @isAdmin %>
          <div class="form-group">
            <%= f.label :admin, :class => 'control-label' %>
            <%= f.check_box :admin, :class => 'form-control', :value => '1', :checked => @user.admin ? 'checked' : '' %>
          </div>
      <% end %>
    </fieldset>
    <div class="form-actions">
      <%= f.submit 'edit' , :class => 'btn btn-default' %>
      <%= link_to 'cancel', :back , :class => 'btn btn-danger'  %>
    </div>
<%	end  %>