<div class="center hero-unit">

  <div class="login">
    <%= form_tag( {:controller => 'sessions' , :action => 'new'}, :class => 'well form-inline' ) do %>
        <%= label_tag(:email) %>
        <%= text_field_tag(:email) %>
        <%= label_tag(:password) %>
        <%= password_field_tag(:password) %>

        <%= submit_tag("Log In", { :class => 'btn'}) %>

    <% end %>
  </div>

</div>
