<li class="dropdown">
  <a href="#" data-toggle="dropdown" class="navbar-brand">Campaigns <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
    <li><a>Subscriptions</a></li>
    <li><a>Competitions</a></li>
    <li><%=link_to 'Images',galleries_path%></li>
  </ul>
</li>

<div class="pull-right">
  <li class="navbar-brand pull-left"><%= @userAuthenticated.name %></li>
  <%= link_to 'logout', sessions_destroy_path,  class: 'navbar-brand pull-left' %>
</div>


<li class="pull-right dropdown">
  <a href="#" data-toggle="dropdown" class="navbar-brand">Admin <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li>
          <%  if @isAdmin %>
            <%= link_to 'Users', users_path %>
          <% else %>
            <%= link_to 'User', edit_user_path(@userAuthenticated) %>
          <% end %>
        </li>
        <li><a>Company Info</a></li>
  </ul>
</li>

